<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
	<Priority_VeryHigh>Will definitely do</Priority_VeryHigh>
	<Priority_High>Will do</Priority_High>
	<Priority_Normal>Will possibly do</Priority_Normal>
	<Priority_Low>Will do if bored</Priority_Low>
	<Priority_VeryLow>Will almost never do</Priority_VeryLow>
	<Priority_None>Will never do</Priority_None>

    <PriorityMaster>Priority Master</PriorityMaster>

    <highestPriority>Highest priority</highestPriority>
    <defaultPriority>Default priority</defaultPriority>

    <enableGradient>Enable gradient</enableGradient>
    <gradientTooltip>Gradient between two colors</gradientTooltip>

    <reverseGradient>Reverse gradient</reverseGradient>
    <reverseGradientTooltip>Choose if the gradient should be from color 1 to 2 or from color 2 to 1</reverseGradientTooltip>

    <color.red>Red</color.red>
    <color.green>Green</color.green>
    <color.blue>Blue</color.blue>
    <color.hue>Hue</color.hue>
    <color.saturation>Saturation</color.saturation>
    <color.lightness>Lightness</color.lightness>
    <color.hex>Hex</color.hex>
</LanguageData>
