<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
	<Priority_VeryHigh>Macht es auf jedenfall</Priority_VeryHigh>
	<Priority_High>Macht es</Priority_High>
	<Priority_Normal>Macht es möglicherweise</Priority_Normal>
	<Priority_Low>Macht es wenn gelangweilt</Priority_Low>
	<Priority_VeryLow>Macht es fast nie</Priority_VeryLow>
	<Priority_None>Macht es nie</Priority_None>

    <PriorityMaster>Prioritäts Meister</PriorityMaster>

    <highestPriority>Höchste Priorität</highestPriority>
    <defaultPriority>Standart Priorität</defaultPriority>

    <enableGradient>Verwende Farbverlauf</enableGradient>
    <gradientTooltip>Farbverlauf zwischen zwei Farben</gradientTooltip>

    <reverseGradient>Umgekehrter Farbverlauf</reverseGradient>
    <reverseGradientTooltip>Wechsle zwischen einem Farbverlauf von Farbe 1 zu 2 oder Farbe 2 zu 1</reverseGradientTooltip>

    <color.red>Rot</color.red>
    <color.green>Grün</color.green>
    <color.blue>Blau</color.blue>
    <color.hue>Farbton</color.hue>
    <color.saturation>Sättigung</color.saturation>
    <color.lightness>Helligkeit</color.lightness>
    <color.hex>Hex</color.hex>
</LanguageData>
